.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 92px 50px;
    font-size: 18px;
  }
  
  .header__menu {
    margin-right: auto;
  }

  .header__menu-list {
    display: flex;
    list-style: circle;
    gap: 24px;   
  }

  .header__menu-link {
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid;
  }

  .header__menu-item_active {
    list-style: none;
  }

  .header__menu-item_active .header__menu-link {
    list-style: none;
    padding-bottom: 0;
    border-bottom: 0px;
  }

  .header__logo {
    display: block;
    width: 148px;
    height: 105px;
    margin: auto;
  }

  .header__address {
    display: block;
    margin-left: auto;
    font-style: normal;
  }

  .header__address-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    max-width: 240px;
  }

  .header__address-link {
    text-decoration: none;
    border-bottom: 1px solid;
  }

.cover {
    padding: 50px;
    position: relative;
    background-image:url(../images/cover.jpg);
    background-size: cover;
    z-index: -1;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0 / 0.6);
    z-index: -2;
}

.cover__title {
    padding-top: 165px;
    color: #FFF;
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
    text-align: left;
}

.aligned-text_center {
    display: block;
    text-align: center;
    padding: 20px 0;
}

.aligned-text_right {
    display: block;
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    padding-top: 135px;
}

.cover__description-text {
    color: #FFF;
    text-align: right;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
    word-spacing: 20px;
}

.bet-button {
    margin-left: 58px;
    padding: 12px 32px;
    border: 1px solid;
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
}

.lots {
  margin: 180px 50px;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
  }

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 430px;
  min-height: 450px;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: -1;
  height: 100%;
  padding: 50px 40px;
}

.card__title {
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  color: #FFF;
  font-size: 20px;
  line-height: 120%; /* 24px */
  font-weight: 400;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid;
}

.about {
  display: flex;
  margin: 0 50px;
  gap: 25px;
}

.about__column {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex-grow: 1;
  min-width: 430px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 240px;
  height: 240px;
  background-color:#000;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  text-align: left;
  color: #000;
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 100px;
  padding-bottom: 75px;
}

.about__text {
  text-align: left;
  color: #000;
  font-size: 20px;
}