.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 92px 50px 96px 50px;
}
  
.header__menu {
  display: flex;
  align-items: center;
}

.header__menu-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  white-space: nowrap;   
}

.header__menu-link {
  border-bottom: 1px solid;
  padding-bottom: 1px;
}

.header__menu-item_active {
  list-style: none;
}

.header__menu-item_active .header__menu-link {
  border-bottom: 0px;
  padding-bottom: 0;
  pointer-events: none;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 136px;
  height: 105px;
}

.header__address {
  justify-self: right;
  align-self: center;
}

.header__address-list {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  font-style: normal;
  line-height: 24.3px;
  list-style: none;
}

.header__address-link {
  border-bottom: 1px solid;
}

.cover {
  position: relative;
  z-index: 0;
  padding: 50px;
  background-image:url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  padding-top: 115px;
  color: #FFF;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 100%; /* 115px */
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  line-height: 115%;
  text-align: left;
}

.aligned-text_center {
  display: block;
  padding: 20px 0;
  text-align: center;
}

.aligned-text_right {
  display: block;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  padding-top: 135px;
}

.cover__description-text {
  color: #FFF;
  font-size: 22px;
  line-height: 28px; /* 127.273% */
  text-align: right;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid;
  padding: 12px 32px;
  color: #FFF;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  margin: 180px 50px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 430px;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  background-size: cover;
}

.card__title {
  color: #FFF;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%; /* 26.4px */
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  color: #FFF;
  font-size: 20px;
  line-height: 120%; /* 24px */
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  border-bottom: 1px solid;
  padding-bottom: 1px;
  font-size: 20px;
}

.about {
  display: flex;
  gap: 25px;
  margin: 0 50px;
}

.about__column {
  min-width: 430px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 240px;
  height: 240px;
  margin-left: 95px;
  border-radius: 50%;
  background-color:#000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  padding-top: 100px;
  padding-bottom: 100px;
  color: #000;
  font-size: 40px;
  text-align: left;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  color: #000;
  font-size: 20px;
  text-align: left;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 185px 50px 90px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-link {
  border-bottom: 1px solid;
  padding-bottom: 1px;
}

.footer__menu-item_active .footer__menu-link {
  border-bottom: 0px;
  padding-bottom: 0;
  pointer-events: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  display: block;
  height: 48px;
}